# Pandas
### Goal
- Learn basics of Pandas
- Read CSV files with Pandas
- Explore the DataFrame
- Learn about GroupBy
- Datetime and GroupBy
- How to export to Excel
- Create a chart: [Example](https://xlsxwriter.readthedocs.io/example_chart_column.html)

In [1]:
import pandas as pd

In [2]:
d = {'Cars':['Porsche','Porsche','Ferrari','Ferrari'],'Speed':[200,215,305,195]}

In [3]:
d

{'Cars': ['Porsche', 'Porsche', 'Ferrari', 'Ferrari'],
 'Speed': [200, 215, 305, 195]}

In [4]:
df = pd.DataFrame(d)

In [5]:
df

      Cars  Speed
0  Porsche    200
1  Porsche    215
2  Ferrari    305
3  Ferrari    195

In [6]:
df.mean()

C:\Users\yensanwoo\AppData\Local\Temp\ipykernel_17496\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Speed    228.75
dtype: float64

In [9]:
df['Cars'] == 'Porsche'

0     True
1     True
2    False
3    False
Name: Cars, dtype: bool

In [10]:
df[df['Cars'] == 'Porsche']

      Cars  Speed
0  Porsche    200
1  Porsche    215

In [12]:
df.groupby('Cars').mean()

         Speed
Cars
Ferrari  250.0
Porsche  207.5

In [13]:
df.groupby('Cars').sum()

         Speed
Cars
Ferrari    500
Porsche    415

In [14]:
speed_check = pd.read_csv("files/speed_check.csv")

In [15]:
speed_check

           Date;Car;Speed
0  2021-03-15;Porsche;315
1      2021-03-30;BMW;250
2  2021-04-02;Ferrari;295
3      2021-04-10;BMW;180
4  2021-04-15;Porsche;210
5  2021-04-20;Ferrari;230
6      2021-04-23;BMW;175
7      2021-04-30;BMW;205

In [16]:
speed_check = pd.read_csv("files/speed_check.csv",delimiter=';')

In [17]:
speed_check

         Date      Car  Speed
0  2021-03-15  Porsche    315
1  2021-03-30      BMW    250
2  2021-04-02  Ferrari    295
3  2021-04-10      BMW    180
4  2021-04-15  Porsche    210
5  2021-04-20  Ferrari    230
6  2021-04-23      BMW    175
7  2021-04-30      BMW    205

In [18]:
speed_check.index

RangeIndex(start=0, stop=8, step=1)

In [19]:
speed_check.dtypes

Date     object
Car      object
Speed     int64
dtype: object

In [21]:
speed_check = pd.read_csv("files/speed_check.csv",delimiter=';',parse_dates=True,index_col="Date")

In [22]:
speed_check

                Car  Speed
Date
2021-03-15  Porsche    315
2021-03-30      BMW    250
2021-04-02  Ferrari    295
2021-04-10      BMW    180
2021-04-15  Porsche    210
2021-04-20  Ferrari    230
2021-04-23      BMW    175
2021-04-30      BMW    205

In [23]:
speed_check.index

DatetimeIndex(['2021-03-15', '2021-03-30', '2021-04-02', '2021-04-10',
               '2021-04-15', '2021-04-20', '2021-04-23', '2021-04-30'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [24]:
speed_check.dtypes

Car      object
Speed     int64
dtype: object

In [25]:
speed_check.groupby("Car").mean()

         Speed
Car
BMW      202.5
Ferrari  262.5
Porsche  262.5

In [36]:
monthly = speed_check.groupby(pd.Grouper(freq='M')).mean()

In [37]:
monthly

                 Speed
Date
2021-03-31  282.500000
2021-04-30  215.833333

In [38]:
monthly.index = monthly.index.month_name()

In [39]:
monthly

            Speed
Date
March  282.500000
April  215.833333

In [41]:
speed_check.to_excel("SpeedCheck.xlsx")

In [46]:
workbook = pd.ExcelWriter("SpeedCheck.xlsx")
speed_check.groupby("Car").mean().to_excel(workbook, sheet_name="Cars")
monthly.to_excel(workbook, sheet_name='Monthly')

chart1 = workbook.book.add_chart({'type': 'column'})

# Configure the first series.
chart1.add_series({
    'name':       'Cars',
    'categories': '=Cars!$A$2:$A$4',
    'values':     '=Cars!$B$2:$B$4',
})

workbook.sheets['Cars'].insert_chart('D2', chart1)

workbook.close()